@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

:root {
    --cor-footer:black;
    --color-azul3: #0455f8;
    --cor-fundo: hsl(221, 100%, 41%);
    --cor-hover: hsl(0, 0%, 100%);
    --cor-link: hsl(0, 0%, 100%);
}

/* corpo da pag */
body {
	background-color: rgb(139, 241, 157);
}


/* title */
h1 {
  color: rgb(0, 0, 0);
  margin-top: 50px;
  font-family:monospace;
  text-align: center;
}


/* formulario */
form{
	font-family: monospace;
	margin-top: 50px;
	margin-left: 40%;
	margin-right: 40%;
	cursor: pointer;
	border-radius: 10px;
}

form, #formButton{
	text-align: center;
	font-family:monospace;
}

#btn_mostrartodos{
	text-align: center;
	font-family:monospace;
}



