@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

:root {
    --cor-footer:black;
    --color-azul3: #0455f8;
    --cor-fundo: hsl(221, 100%, 41%);
    --cor-hover: hsl(0, 0%, 100%);
    --cor-link: hsl(0, 0%, 100%);
}

/* corpo da pag */
body {
	background-color: rgb(139, 241, 157);
}


#cabecalho{
	display: flex;
	justify-content: space-between;
	font-family: sans-serif;
	padding: 15px;
	background-color: gray;
	border-radius: 10px;
}

/* formulario */
form{
	font-family: sans-serif;
	margin-top: 50px;
	width: 430px;
	margin-left: 30%;
	margin-right: 40%;
	cursor: pointer;
	border-radius: 10px;
}

